<div class="container mt-30px">
    <div class="row">
        <div class="col-6">
	           <img src="<%= @portfolio.portfolio_image_link %>" alt="<%= @portfolio.portfolio_image_alt %>">
	    </div>
	    <div class="col-6">
    				<div class="p-15px">
    					<h5><%= @portfolio.portfolio_title %></h5>
    	                <p><%= @portfolio.portfolio_desc %></p>
    	            </div>
	           </div>   
	    </div>
    </div>
</div>